//树样式
.tree{
    user-select:none;
    ol,ul{
        padding:0 0 0 1em;
        margin:0;
        list-style:none;
        li{
            position: relative;
            >label{
                position: absolute;
                top:5px;
                left:-16px;
                z-index: 2;
                display: inline-block;
                height:16px;
                width:16px;
                cursor: pointer;
                &:hover{
                    &+input{
                        &~ul{
                            &:before{
                                border-left-color: #333;
                            }
                        }
                        &:checked{
                            &~ul{
                                &:before{
                                    border-left-color: transparent;
                                    border-top-color: #333;
                                }
                            }
                        }
                    }
                }
            }
            >ul{
                &:before{
                    content: "";
                    position: absolute;
                    top:8px;
                    left:-10px;
                    border:5px solid transparent;
                    border-left-color: #999;
                }
                >li{
                    display: none;
                }
            }
            //标题格样式
            >div{
                line-height: 26px;
                overflow: hidden;
            }
            input{
                display: none;
                &:checked{
                    &~ul{
                        >li{
                            display: list-item;
                        }
                        &:before{
                            border-left-color: transparent;
                            border-top-color: #999;
                            top:10px;
                            left:-14px;
                        }
                    }
                }
            }
        }
    }
}
